/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  color: #1B1A1A;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  color: #1B1A1A;
  animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}
.container {
  max-width: 100%;
  min-height: 100vh;
}
nav {
  width: 100%;
  padding: 1% 1% 1% 0;
  text-align: right;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 2%;
  font-size: 1.8rem;
  color: white;
}
@media (max-width: 500px) {
  nav {
    display: none;
  }
}
.home {
  position: relative;
  text-align: center;
  color: white;
  /* Slideshow container */
  /* The dot/bullet/indicator container */
}
.home .fitnessGirl {
  filter: brightness(18%);
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
@media (max-width: 500px) {
  .home .fitnessGirl {
    filter: brightness(18%);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -512px;
  }
}
.home h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: white;
  padding: 1.5% 0;
}
@media (max-width: 500px) {
  .home h1 {
    line-height: 54px;
    font-size: 4rem;
    padding: 30% 0;
  }
}
.home .slideshow-container {
  position: relative;
  /* Slides */
}
.home .slideshow-container .mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
.home .slideshow-container q {
  font-size: 2rem;
  line-height: 2.7rem;
}
@media (max-width: 500px) {
  .home .slideshow-container q {
    font-size: 1.5rem;
  }
}
.home .slideshow-container .titles {
  font-weight: bold;
  font-size: 2.5rem;
  padding: 0 0 20% 0;
}
@media (max-width: 500px) {
  .home .slideshow-container .titles {
    font-size: 2rem;
  }
}
.home .dot-container {
  text-align: center;
  padding: 20px;
  /* The dots/bullets/indicators */
  /* Add a background color to the active dot/circle */
}
.home .dot-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.home .dot-container .active,
.home .dot-container .dot:hover {
  background-color: #717171;
}
.home .user-options {
  padding: 4% 0;
}
.home .user-options .sign-up {
  text-align: center;
  padding: 1% 0 2% 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.home .user-options .buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}
.home .user-options .buttons button {
  border: none;
  background-color: #FF9233;
  color: #1B1A1A;
  font-weight: bold;
  border-radius: 15px;
  width: 20%;
  padding: 1.5% 0;
  margin: 0 2%;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .home .user-options .buttons button {
    width: 35%;
    padding: 3% 0;
  }
}
@media (max-width: 500px) {
  .home .user-options {
    line-height: 54px;
    font-size: 4rem;
  }
}
