/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  overflow: hidden;
}
html,
body {
  font-size: 62.5%;
  font-family: Raleway;
  height: 100%;
}
.section {
  height: 100%;
}
nav {
  width: 50%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1% 1% 1% 0;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 2%;
  font-size: 1.8rem;
  color: #1B1A1A;
}
@media (max-width: 500px) {
  nav {
    display: none;
  }
}
.home .container-half {
  display: flex;
}
.home .left-half {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.home .left-half .fitnessGirl {
  width: 100%;
}
@media (max-width: 500px) {
  .home .left-half .fitnessGirl {
    filter: brightness(18%);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -512px;
  }
}
.home .right-half {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* The dots/bullets/indicators */
  /* Fading animation */
}
.home .right-half h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #1B1A1A;
  padding: 1.5% 0;
}
@media (max-width: 500px) {
  .home .right-half h1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 54px;
    font-size: 4rem;
  }
}
.home .right-half .prev,
.home .right-half .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.home .right-half .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.home .right-half .prev:hover,
.home .right-half .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.home .right-half .text {
  color: #1B1A1A;
  font-size: 2rem;
  padding: 5% 15%;
  text-align: center;
  line-height: 2.5rem;
}
.home .right-half .text h3 {
  padding: 1.5% 0;
  font-weight: bold;
}
@media (max-width: 500px) {
  .home .right-half .text {
    color: white;
  }
}
.home .right-half .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.home .right-half .active,
.home .right-half .dot:hover {
  background-color: #717171;
}
.home .right-half .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.home .right-half .user-options {
  padding: 4% 0;
}
.home .right-half .user-options .sign-up {
  text-align: center;
  padding: 1% 0 2% 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.home .right-half .user-options .buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid white;
}
.home .right-half .user-options .buttons button {
  border: none;
  background-color: #FF9233;
  color: #1B1A1A;
  font-weight: bold;
  border-radius: 3px;
  width: 20%;
  padding: 2% 0;
  margin: 0 2%;
}
@media (max-width: 500px) {
  .home .right-half .user-options .buttons button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .right-half .user-options {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 54px;
    font-size: 4rem;
  }
}
