* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Raleway', sans-serif;
  color: @ebony-clay;
}

.body-home {
  overflow: hidden;
}

.container {
  max-width: 100%;
  min-height: 100vh
}
